.outline-button {
  --background: var(--ion-color-light);
  --background-hover: var(--ion-color-tertiary);
  --background-activated: var(--ion-color-tertiary);
  --background-focused: var(--ion-color-tertiary);

  --color: var(--ion-color-primary);

  --border-radius: 50px;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 3px;

  --padding-top: 10px;
  --padding-bottom: 10px;
}
