.label {
  font-weight: bold;
  font-family: "Jost";
}

.container {
  padding: 0 20px;
  text-align: center;
  height: 100vh - 120px;
  margin-top: 120px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: left;
}

.code-container {
  text-align: start;
  background-color: var(--ion-color-light);
  padding: 5px;
}
.code-font {
  font-family: "Courier Prime";
}
.info-span {
  color: var(--ion-color-primary);
  font-weight: bold;
}

.info-span ion-icon {
  vertical-align: bottom;
}
.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
ion-tab-bar {
  padding: 10px 0;
}
ion-tab-button {
  font-size: 15px;
}

ion-icon {
  font-size: 30px;
}

ion-card {
  width: 100%;
}
.page {
  --ion-background-color: var(--ion-color-tertiary);
}
.button-big {
  /* font-size: 20px; */
  letter-spacing: 3px;
}
